<div class="myfooter">

    <div class="<%= params[:controller] == "pages" ? "active-footericon" : "footericon"%>">
      <%= link_to "/", class: "navbar-brand" do %>
      <i class="fa-solid fa-house <%= params[:controller] == "pages" ? "active-icon" : "icone-button" %>"></i>
    <% end %>
    </div>

    <% if user_signed_in? %>
      <div class=" <%= params[:controller] == "events" || params[:controller] == "rides" ? "active-footericon" : "footericon"%>" >
        <%= link_to events_path do %>
        <i class="fa-solid fa-calendar-days <%= params[:controller] == "events" || params[:controller] == "rides" ? "active-icon" : "icone-button" %>"></i>
        <% end %>
      </div>
      <div class="<%= params[:controller] == "notifications" ? "active-footericon" : "footericon"%>">
        <%= link_to notifications_path do %>
          <div style="position:relative;">
            <i class="fa-solid fa-bell <%= params[:controller] == "notifications" ? "active-icon" : "icone-button" %> "></i>
            <% unless current_user.notification_count == 0 %>
              <p class="notif" style="margin-bottom:0"><%= current_user.notification_count %></p>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="<%= params[:controller] == "chatrooms" || params[:controller] == "messages" ? "active-footericon" : "footericon"%>">
        <%= link_to chatrooms_path do %>
        <i class="fa-solid fa-envelope <%= params[:controller] == "chatrooms" || params[:controller] == "messages" ? "active-icon" : "icone-button" %>"></i>
        <% end %>
      </div>
    <% end %>
</div>
