<div class="myfooter">

    <div class="footericon home-icon">
      <%= link_to "/", class: "navbar-brand" do %>
      <i class="fa-solid fa-house icone-button"></i>
    <% end %>
    </div>

    <% if user_signed_in? %>
      <div class="footericon">
        <%= link_to events_path do %>
        <i class="fa-solid fa-calendar-days icone-button"></i>
        <% end %>
      </div>
      <div class="footericon">
        <%= link_to notifications_path do %>
          <div style="position:relative;">
            <i class="fa-solid fa-bell icone-button"></i>
            <p class="notif" style="margin-bottom:0"><%= current_user.notifications.size %></p>
          </div>
        <% end %>
      </div>
      <div class="footericon">
        <%= link_to chatrooms_path do %>
        <i class="fa-solid fa-envelope icone-button"></i>
        <% end %>
      </div>
    <% end %>
</div>



<%# <i class="fa-solid fa-house"></i> %>
