<div class="container" data-controller="filter" style="width: 100vw">

  <div class="filters d-flex justify-content-between">
    <button class="button-filter-large me-2" data-action="click->filter#mine">My events</button>
    <button class="button-filter-events me-2" data-action="click->filter#joined">Events</button>
    <button class="button-filter-all" data-action="click->filter#all">All</button>
  </div>
  <% if @my_events.size + @joined_events.size ==0 %>
    <i><p class = "d-flex justify-content-around mt-4">You don’t have any event for the moment</p></i>
  <% else %>
    <div class="my-events" data-filter-target="myEvents">
    <% @my_events.each do |event| %>
      <%= link_to event_path(event), style:"text-decoration:none; color:white" do %>
        <div class="my-event mt-4 p-2">
          <div class="event-info mb-2">
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-column justify-content-center ms-3">
                <div><p class="day"><%= event.start_time.day%></p></div>
                <div><p class="month"><%= event.start_time.strftime('%b') %></p></div>
              </div>
              <div class="d-flex flex-column justify-content-between align-items-start" style="margin-left:-100px">
                <div><p class="title"><%= event.name %></p></div>
                <div style="margin-bottom: 2px"><em class="hour"><%= event.start_time.strftime('%H:%M') %></em></div>
              </div>
              <div class="d-flex align-items-center" style="margin-top: 14px; margin-right: 10px"><p><i class="fa-solid fa-chevron-right"></i></p></div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="my-events" data-filter-target="joinedEvents">
    <% @joined_events.each do |event| %>
      <%= link_to event_path(event), style:"text-decoration:none; color:white" do %>
        <div class="event mt-4 p-2">
          <div class="event-info mb-2">
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-column justify-content-center ms-3">
                <div><p class="day"><%= event.start_time.day%></p></div>
                <div><p class="month"><%= event.start_time.strftime('%b') %></p></div>
              </div>
              <div class="d-flex flex-column justify-content-between align-items-start" style="margin-left:-100px">
                <div><p class="title"><%= event.name %></p></div>
                <div style="margin-bottom: 2px"><em class="hour"><%= event.start_time.strftime('%H:%M') %></em></div>
              </div>
              <div class="d-flex align-items-center" style="margin-top: 14px; margin-right: 10px"><p><i class="fa-solid fa-chevron-right"></i></p></div>
            </div>
          </div>
          <hr class="mb-3">
          <% if event.confirmed_rides(current_user).empty? && event.rides.select { |ride| ride.car.user == current_user }.empty? %>
            <div class="d-flex justify-content-center"><em style="text-align:center">Sorry you have no ride yet.</em></div>
          <% else %>
            <div class="rides-info">
              <% event.rides.select { |ride| ride.car.user == current_user }.each do |ride| %>
                <div class="d-flex  justify-content-begin">
                  <div class= "ms-3"><p><%= ride.display_adress(ride.departure_place) %></p></div>
                  <div><i class="fa-solid fa-arrow-right" style="margin: 0 50px"></i></div>
                  <div><p><%= ride.display_adress(ride.arrival_place) %></p></div>
                </div>
              <% end %>
              <% event.confirmed_rides(current_user).each do |ride| %>
                <div class="d-flex justify-content-begin">
                  <div class= "ms-3"><p><%= ride.display_adress(ride.departure_place) %></p></div>
                  <div><i class="fa-solid fa-arrow-right"  style="margin: 0 50px"></i></div>
                  <div><p><%= ride.display_adress(ride.arrival_place) %></p></div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <% end %>
</div>
