<div class="container">
  <div class="align-items-center justify-content-between p-2 text-align-justify" data-controller="toggle">
    <div class="form">
      <%= simple_form_for(@event) do |f| %>
      <%= f.input :photo, as: :file %>
      <%= f.input :name %>
      <%= f.input :start_time,
              as: :string,
              input_html: { data: { controller: "datepicker"} }%>
      <%= f.input :end_time,
              as: :string,
              input_html: { data: { controller: "datepicker"} }%>
      <%= f.input :address %>
      <%= f.input :description %>
      <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
