<div class="container mt-4">

  <h2>Create an event :</h2>

  <div class="form mt-4">
    <%= simple_form_for(@event) do |f| %>
      <%= f.input :photo, as: :file %>
      <%= f.input :name %>
      <%= f.input :address,
            input_html: {data: {address_autocomplete_target: "address"}, class:"d-none"},
            wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
      <%= f.input :start_time,
              as: :string,
              input_html: { data: { controller: "datepicker"} }%>
      <%= f.input :end_time,
              as: :string,
              input_html: { data: { controller: "datepicker"} }%>
      <%= f.input :description %>
      <%= f.button :submit, class:"button-small" %>
    <% end %>
  </div>
</div>
