<%= simple_form_for(@event) do |f| %>
  <div id="big-dbox"class="d-flex justify-content-between car-form">

    <div class="form-column">
      <%= f.input :photo, as: :file %>
    </div>


      <div class="d-flex justify-content-around form-column">
        <div>
          <%= f.input :brand %>
          <%= f.input :model %>
          <%= f.input :price_per_day %>
          <%= f.input :address %>
          <%= f.input :km %>
        </div>
        <div>
          <%= f.input :year %>
          <%= f.input :seats %>
          <%= f.input :carburant %>
          <%= f.input :doors %>
          <%= f.input :power %>
        </div>
      </div>

    <div class=" form-column">
      <%= f.input :description %>
    </div>

  </div>

 <div class="submitedcar" >
  <%= f.submit "Edit my car"%>
 </div>

<% end %>
