<div class="container">
  <div class="form">
    <%= simple_form_for @car do |f| %>
        <%= f.input :brand %>
        <%= f.input :model %>
        <%= f.input :color %>
        <%= f.input :license_plate %>
        <%= f.submit %>
    <% end %>
  </div>
  <% if current_user.cars.empty? %>
    <% flash[:notice] = "You first need to create a car in order to offer a ride." %>
  <% end %>
</div>
