<div class="container mt-4">

  <h2>Add a car :</h2>

  <div class="form mt-4">
    <%= simple_form_for @car do |f| %>
        <%= f.input :brand %>
        <%= f.input :model %>
        <%= f.input :color %>
        <%= f.input :license_plate %>
        <%= f.button :submit, class:"button-small" %>

    <% end %>
  </div>
  <% if current_user.cars.empty? %>
    <% flash[:notice] = "You first need to create a car in order to offer a ride." %>
  <% end %>
</div>
