<div class="container">
  <div class="d-flex align-items-center justify-content-between p-2" data-controller="toggle">
    <div class="form">
      <%= simple_form_for [@event, @ride], html: { data: {toggle_target: "formAller"} } do |f| %>
          <%= f.input :departure_place %>
          <%= f.input :arrival_place, input_html: { value: @event.address} %>
          <%= f.input :departure_time,
          as: :string,
          input_html: { data: { controller: "datepicker"} }%>
          <%= f.input :price %>
          <%= f.association :car, label_method: :to_label%>
          <%= f.submit %>
      <% end %>
    </div>
    <div class="form">
      <%= simple_form_for [@event, @ride], html: { class: "d-none", data: {toggle_target: "formRetour"} } do |f| %>
          <%= f.input :departure_place, input_html: { value: @event.address} %>
          <%= f.input :arrival_place %>
          <%= f.input :departure_time,
          as: :string,
          input_html: { data: { controller: "datepicker"} }%>
          <%= f.input :price %>
          <%= f.association :car, label_method: :to_label%>
          <%= f.submit %>
      <% end %>
    </div>
    <button>
      <i class="fa-solid fa-arrows-up-down" data-action="click->toggle#display"></i>
    </button>
  </div>
</div>
