<div class="container">
  <h2 class="mt-2 ms-4 mb-4">Create a ride:</h2>
  <div class="d-flex align-items-center justify-content-between p-2" data-controller="toggle">
    <div class="form" style="margin-left: 20px">
      <%= simple_form_for [@event, @ride], html: { data: {toggle_target: "formAller"} } do |f| %>
          <%= f.input :departure_place,
            input_html: {data: {address_autocomplete_target: "address"}, class:"d-none"},
            wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
          <%= f.input :arrival_place, input_html: { value: @event.address} %>
          <%= f.input :departure_time,
          as: :string,
          input_html: { data: { controller: "datepicker"} }%>
          <%= f.input :seats %>
          <%= f.input :price %>
          <%= f.association :car, collection: current_user.cars, label_method: :to_label%>
          <%= f.input :description %>
          <%= f.button :submit, class:"button-small" %>
      <% end %>
    </div>
    <div class="form" style="margin-left:-40px">
      <%= simple_form_for [@event, @ride], html: { class: "d-none", data: {toggle_target: "formRetour"} } do |f| %>
          <%= f.input :departure_place, input_html: { value: @event.address} %>
          <%= f.input :arrival_place,
            input_html: {data: {address_autocomplete_target: "address"}, class:"d-none"},
            wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
          <%= f.input :departure_time,
          as: :string,
          input_html: { data: { controller: "datepicker"} }%>
          <%= f.input :seats %>
          <%= f.input :price %>
          <%= f.association :car, collection: current_user.cars, label_method: :to_label%>
          <%= f.input :description %>
          <%= f.button :submit, class:"button-small" %>
      <% end %>
    </div>
    <button class="arrowUD">
      <i class="fa-solid fa-arrows-up-down" data-action="click->toggle#display"></i>
    </button>
  </div>
</div>
