<div class="container mt-4" >

  <div class="drive-box">
    <div class="d-flex justify-content-between drive-driver">
      <div class="d-flex">
        <%= cl_image_tag @ride.car.user.photo.key, class: "ride-card-picture" %>
        <div class="ms-3"><%= @ride.car.user.first_name %> <%= @ride.car.user.last_name %></div>
      </div>
      <div><p><%= @ride.price %>$</p></div>
    </div>

    <div class="container mt-3">
      <div class="d-flex justify-content-between">
        <div><%= @ride.departure_place %></div>
        <div> <i class="fa-solid fa-arrow-right"></i> </div>
        <div> <%= @ride.arrival_place %></div>
      </div>
        <p> </p>
    </div>

    <div class="container mb-5">
        <%= @ride.departure_time %>
    </div>

      <div class="container mt-5 d-flex justify-content-between">
        <div><%= link_to "Ask for your seat(s)", new_event_path, class:"nice-link"%></div>
      </div>

    <div class="container mt-3">
      <small><i><p>Your reservation will be confirmed once the driver accepts your demand</p></i></small>
    </div>


</div>

  <div class="drive-box">
    <div class="drive"id="drive-car">
      <i class="fa-solid fa-car"></i>
      <%= @ride.car.brand %>
      <%= @ride.car.model %>
      <%= @ride.car.color %>
    </div>
  </div>

  <div class="drive-box">
    <div class="drive"id="drive-extrainfo">
     <p> <i class="fa-solid fa-circle-info"></i>
             <%= @ride.description %></p>
    </div>
  </div>

  <div class="drive-box">
    <div class="container d-flex align-items-center justify-content-between">
      <div><p>Passengers :</p></div>
      <div>
            <p>Johny</p>
            <p>Peter</p>
      </div>
    </div>
  </div>

    <div class="drive-box">
      <div class="container">
        <div><%= link_to "Contact #{@ride.car.user.first_name}", new_event_path %></div>
      </div>
    </div>
</div>
